#doggy-bag
  .content
    .close
    .items
.search-bar
  %h1 Dogs in San Francisco, CA
  =form_tag pets_path, :method => :get do
    =text_field_tag('zip',nil, :placeholder => 'Enter your zip code')
    =submit_tag('Find A Pal')
  .drop-zone.droppable
.hero-section
  .content
    .show-doggy-bag
    .logo
    %h1.main-heading
      Scruffy Buddy
    .form
      =form_tag pets_path, :method => :get do
        =text_field_tag('zip',nil, :placeholder => 'Enter your zip code')
        =submit_tag('Find A Pal')
#options.wrapper.clearfix
  .options
    %ul.clearfix
      %li#cat
        I
        %span.heart
        Cats
      %li#dog
        I
        %span.heart
        Dogs
-if @pets.empty?
  -@locations.each do |location|
    %a{:href => "?zip=#{location.zip}"}
      = "#{location.city}, #{location.state}"
-else
#pets.wrapper.clearfix
  - @pets.each do |pet|
    -if pet.photo?
      %div{:class => "container pet draggable #{pet.species}"}
        .card
          .face.front
            .filter
            .image-cropper.bwWrapper
              = image_tag(pet.photo)
            %p
              = pet.name
          .face.back
            .content
              .thumb
                = image_tag(pet.photo)
              %p.desc
                = truncate(strip_tags(pet.description), :length => 150)
:javascript
  $(function(){
    if(!($.browser.webkit)){
      window.location = "http://img42.imageshack.us/img42/561/218catplayingelectricgu.gif";
    };

    $.each($('.pet'), function(){
      var amount = randomFromTo(-10, 10);
      $(this).css({'-webkit-transform':'rotate('+amount+'deg)'});
    })
    function randomFromTo(from, to){
       return Math.floor(Math.random() * (to - from + 1) + from);
    }


    $(window).scroll(function(){
     if($(window).scrollTop() > 400){
      $('.search-bar').fadeIn('fast');
     }else{
      $('.search-bar').fadeOut('fast');
     }
    });

    $('.options li').click(function(){
      var sibling = $(this).siblings('li').addClass('strike');
      $(this).removeClass('strike');
      var hide = sibling.attr('id');
      $('#pets .' + hide).addClass('hidden');
      $('#pets .' + $(this).attr('id')).removeClass('hidden');
    });

    $('.drop-zone').click(function(){
        $('#doggy-bag').animate({'top' : '0px'}, 300);
      }
    );
    $('#doggy-bag .close').click(function(){
      $('#doggy-bag').animate({'top' : '-400px'}, 300);
    });



    $( ".draggable" ).draggable({
      revert: 'invalid',
      scroll: false
    });
    $( ".droppable" ).droppable({
        tolerance: 'touch',
        over: function(event, ui){
          $('.drop-zone').toggleClass('hovered');
          if($('#doggy-bag .items').children().length < 3){
            ui.draggable.toggleClass('semi-transparent');
          }
        },
        drop: function( event, ui ) {
          $('.drop-zone').toggleClass('hovered');
          if($('#doggy-bag .items').children().length !== 3){
            $(ui.draggable).attr('style', '').removeClass('semi-transparent');
            $('#doggy-bag .items').append(ui.draggable);
          }
          else{
            $( '.draggable' ).draggable( "option", "revert", true );
          }
        }
    });

  });//en dom ready