#doggy-bag
  .doggy-bag-content
    .options
      .close
      .reset
    .items
      %h1
        You haven't added any buddies yet.
.search-bar
  %h1 Dogs in San Francisco, CA
  =form_tag pets_path, :method => :get do
    =text_field_tag('zip',nil, :placeholder => 'Enter your zip code')
    =submit_tag('Change location')
  .drop-zone.droppable
.hero-section
  .content
    .show-doggy-bag
    .logo
    %h1.main-heading
      Scruffy
      &nbsp;&nbsp;
      %span.cat-icon
      Buddy
    .form
      =form_tag pets_path, :method => :get do
        =text_field_tag('zip',nil, :placeholder => 'Enter your zip code')
        =submit_tag('Find A Pal')
#options.wrapper.clearfix
  .options
    %ul.clearfix
      %li#cat
        I
        %span.heart
        Cats
      %li#dog
        I
        %span.heart
        Dogs
  .blog-out
    Blog out with your dog out
#blog
  .next
  .prev
  .scrollable
    .items
      .post
        .image
          %img{:src => "http://images.dailydawdle.com/animals-in-sombreros8.jpg"}
        .content
          .pad
            %h2
              ¡ 20 Animals in Sombreros!
            %p
              It’s Cinco De Mayo, ya’ll… and what does that mean for us here at ScruffyBuddy? Animals. In. Sombreros.
      .post
        .image
          %img{:src => "http://us.123rf.com/400wm/400/400/kellyrichardsonfl/kellyrichardsonfl1011/kellyrichardsonfl101100180/8296986-cinco-de-mayo-partying-yellow-labrador-retriever-wearing-a-red-blue-natural-woven-sombrero-hat-isola.jpg"}
        .content
          .pad
            %h2
              5 Ways to Prepare for a New Pet
            %p
              Here at ScruffyBuddy we’re all about 2 things. Finding you a new pet, and showing you pictures of other people’s pets. We do plenty of the first (and the latter, really) but once in a while we find it’s time for a serious note.
            %p
              Adopting a new pet is no laughing matter, and while it may seem all fun and games there are certain things you should do to prepare yourself for little Lupo or Ludacris.
      .post
        .image
          %img{:src => "http://img0.etsystatic.com/il_570xN.303492036.jpg"}
        .content
          .pad
            %h2
              10 Bizarre Cat Paintings found on Etsy
            %p
              One with wine in a chalice, the other with a pimp stick. Me-ow. Also, there is an uncomfortable amount of results when one searches “vampire cats” on Etsy, btw.
              
  .nav
-if @pets.empty?
  #locations.wrapper.clearfix
    -@locations.each do |location|
      %a{:href => "?zip=#{location.zip}"}
        = "#{location.city}, #{location.state}"
-else
#pets.wrapper.clearfix
  - @pets.each do |pet|
    -if pet.photo?
      %div{:class => "container pet draggable #{pet.species}"}
        .card
          .face.front
            .filter
            .image-cropper
              = image_tag(pet.photo)
            %p
              = pet.name
          .face.back
            .content
              .thumb
                = image_tag(pet.photo)
              .favicon
              %a{:href => "#{pet.click_url}"}
                %span.click-off
              %p.desc
                = truncate(strip_tags(pet.description), :length => 150)
:javascript
  $(function(){
    if(!($.browser.webkit)){
      window.location = "http://img42.imageshack.us/img42/561/218catplayingelectricgu.gif";
    };

    $.each($('.pet'), function(){
      var amount = randomFromTo(-10, 10);
      $(this).css({'-webkit-transform':'rotate('+amount+'deg)'});
    })
    function randomFromTo(from, to){
       return Math.floor(Math.random() * (to - from + 1) + from);
    }

    $(window).scroll(function(){
     if($(window).scrollTop() > 300){
      $('.search-bar').fadeIn('fast');
     }else{
      $('.search-bar').fadeOut('fast');
     }
    });

    $('.options li').click(function(){
      var sibling = $(this).siblings('li').addClass('strike');
      $(this).removeClass('strike');
      var hide = sibling.attr('id');
      $('#pets .' + hide).addClass('hidden');
      $('#pets .' + $(this).attr('id')).removeClass('hidden');
    });

    $('.drop-zone, .show-doggy-bag').click(function(){
        $('#doggy-bag').animate({'top' : '0px'}, 300);
      }
    );
    $('#doggy-bag .close').click(function(){
      $('#doggy-bag').animate({'top' : '-400px'}, 300);
    });
    $('#doggy-bag .reset').click(function(){
      $('#doggy-bag .pet').remove();
      $('.items h1').removeClass('hidden');
    });

    $( ".draggable" ).draggable({
      revert: 'invalid',
      scroll: false
    });
    $( ".droppable" ).droppable({
        tolerance: 'touch',
        over: function(event, ui){
          $('.drop-zone').toggleClass('hovered');
          if($('#doggy-bag .items').children().length < 3){
            ui.draggable.toggleClass('semi-transparent');
          }
        },
        drop: function( event, ui ) {
          if(!($('.items h1').hasClass('hidden'))){
           $('.items h1').addClass('hidden');
          }
          $('.drop-zone').toggleClass('hovered');
          if($('#doggy-bag .items').children().length !== 4){
            $(ui.draggable).attr('style', '').removeClass('semi-transparent');
            $('#doggy-bag .items').append(ui.draggable);
          }
          else{
            $( '.draggable' ).draggable( "option", "revert", true );
          }
        }
    });

    $('#pets .favicon').click(function(){
      if(!($('.items h1').hasClass('hidden'))){
       $('.items h1').addClass('hidden');
      }
      var pet = $(this).closest('.pet');
      if(($('#doggy-bag .items').children().length !== 4) && (!$(this).hasClass('faved'))){
        $(this).addClass('faved');
        pet.clone().attr('style', '').appendTo('#doggy-bag .items');
      }
    });

    $('.scrollable').scrollable({
      circular:true
    });

    $('.blog-out').click(function(){
      $('#blog').show();
      $('.scrollable').animate({'height':'400px'}, 'fast');
    });

  });//en dom ready