.search-bar
  %h1 Dogs in San Francisco, CA
  =form_tag pets_path, :method => :get do
    =text_field_tag('zip')
    =submit_tag('Find A Buddy')
  .drop-zone.droppable
.hero-section
  .content
    %h1.main-heading
      Scruffy Buddy
    .form
      =form_tag pets_path, :method => :get do
        =text_field_tag('zip',nil, :placeholder => 'Bark your zip code')
        =submit_tag('Find A Buddy')
#options.wrapper.clearfix
  .options
    %ul
      %li.cat I Love Cats
      %li.dog I Love Dogs
#pets.wrapper.clearfix
  - @pets.each do |pet|
    -if pet.photo?
      %div{:class => "container pet draggable #{pet.species}"}
        .card
          .face.front
            .image-cropper
              = image_tag(pet.photo)
            %p
              = pet.name
          .face.back
            .content
              .thumb
                = image_tag(pet.photo)
              %p.desc
                = truncate(strip_tags(pet.description), :length =>250)
:javascript
  $(function(){
    if(!($.browser.webkit)){
      window.location = "http://img42.imageshack.us/img42/561/218catplayingelectricgu.gif";
    };

    $(window).scroll(function(){
     if($(window).scrollTop() > 400){
      $('.search-bar').fadeIn('fast');
     }else{
      $('.search-bar').fadeOut('fast');
     }
    });

    $('.options li').click(function(){
      if($(this).hasClass('.invisible'))
      var hide = $(this).siblings('li').attr('class');
      $('#pets .' + hide).toggleClass('hidden');
    });

    $( ".draggable" ).draggable({
      revert: 'invalid',
      appendTo: 'body'
    });
    $( ".droppable" ).droppable({
        drop: function( event, ui ) {
            alert('test');
        }
    });

  });