#doggy-bag
  .content
    .close
    .items
.search-bar
  %h1 Dogs in San Francisco, CA
  =form_tag pets_path, :method => :get do
    =text_field_tag('zip')
    =submit_tag('Find A Buddy')
  .drop-zone.droppable
.hero-section
  .content
    .logo
    %h1.main-heading
      Scruffy Buddy
    .form
      =form_tag pets_path, :method => :get do
        =text_field_tag('zip',nil, :placeholder => 'Bark your zip code')
        =submit_tag('Find A Buddy')
#options.wrapper.clearfix
  .options
    %ul
      %li.cat I Love Cats
      %li.dog I Love Dogs
#pets.wrapper.clearfix
  - @pets.each do |pet|
    -if pet.photo?
      %div{:class => "container pet draggable #{pet.species}"}
        .card
          .face.front
            .image-cropper
              = image_tag(pet.photo)
            %p
              = pet.name
          .face.back
            .content
              .thumb
                = image_tag(pet.photo)
              %p.desc
                = truncate(strip_tags(pet.description), :length =>250)
:javascript
  $(function(){
    if(!($.browser.webkit)){
      window.location = "http://img42.imageshack.us/img42/561/218catplayingelectricgu.gif";
    };

    $(window).scroll(function(){
     if($(window).scrollTop() > 400){
      $('.search-bar').fadeIn('fast');
      $('#doggy-bag').css('top','-540px');
     }else{
      $('.search-bar').fadeOut('fast');
     }
    });

    $('.options li').click(function(){
      var hide = $(this).siblings('li').attr('class');
      $('#pets .' + hide).toggleClass('hidden');
    });

    $('.drop-zone').click(function(){
        $(window).scrollTo(0, 500, {onAfter:
          function(){
            $('#doggy-bag').animate({'top' : '0px'}, 300);
          }
        });
      }
    );

    $('#doggy-bag .close').click(function(){
      $('#doggy-bag').animate({'top' : '-540px'}, 300);
    });



    $( ".draggable" ).draggable({
      revert: 'invalid',
      scroll: false
    });
    $( ".droppable" ).droppable({
        tolerance: 'touch',
        drop: function( event, ui ) {
          if($('#doggy-bag .items').children().length !== 3){
            $(ui.draggable).attr('style', '');
            $('#doggy-bag .items').append(ui.draggable);
          }
          else{
            $( '.draggable' ).draggable( "option", "revert", true );
          }
        }
    });

  });