%h1 Dogs in San Francisco, CA


- @pets.each do |pet|
  .container.pet
    .card
      .face.front
        = image_tag(pet.pictures.first)
      .face.back
        %b Name:
        = pet.name
        %b Breeds:
        = pet.breeds.join(', ')
        %b Age:
        = pet.age
        %h4 Description:
        %p= sanitize(pet.description)